<h2>Latest posts</h2>
<br />
<hr />
<% @posts.each do |post|%>
	<b><%= post["name"]%></b>
  <p><span style="font-size: 70%; color:#999">added at <%= post["created_at"] %> author:<%= post["name_author"] %></span></p>
  <p><%= post["content"] %></p>
  <p><a href="/details/<%= post["id"] %>">Read comments...</a></p>
  <hr />
<% end %>